body{
  background:rgb(255,255,0);
}

.LOL{
  color:red;
}

.測試{
  background:rgb(255,255,255);
  margin:300px;
  height:250px;
  border-radius:500px;
  box-shadow: 10px 20px 5px #ddd;
  
}

.測試:hover{
  cursor:pointer;
  
}

.測試:active{
  background:#eee;
  border-radius:50px;
}

p{
padding:120px;
margin:230px;
font-size:25px;
}

.密碼{
padding:120px;
margin:230px;
font-size:25px;
}