body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
    background:#f8f6f2;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image:
url("https://s33.postimg.cc/xfrvl3cnz/image.png");
    min-height: 65%;
}
.menu {
    display: none;
}
 .w3-text-white{
     font-size:50px;
 }
  @media only screen and (max-width: 600px) {
    .w3-text-white{
      font-size:30px;
    }
}
#return-to-top{
    bottom:50px;
    position:fixed;
    right:30px;
  }

  #aboutcard{
  box-shadow: unset;
}

* {
  -webkit-user-select: none;
  font-family: "微軟正黑體";
}

body, html {
  background-color: #f0f0f0;
  position: relative;
  margin: 0px;
  padding: 0px;
}
/* 外框 */
.toggle-box {
  position: relative;
  background-color: #eee;/* 內容外框 */
  max-width: 700px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: 15px 0px 15px 0px;
}

.toggle-title {
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  background-color: #616161;
  color: #fff;
  padding: 10px;
  position: relative;
}

.toggle-title:hover {
  background-color: #333;
  transition-duration: 0.3s
}

.toggle-title:active {
  background-color: #555;
  transition-duration: 0.3s
}
/* 內容框 */
.toggle-text {
  font-size: 16px;
  font-weight: 350;
  background-color: #eee;
  overflow: hidden;
  height: auto;
  padding: 10px;
  margin: 5px;
}

#return-to-top {
  cursor: pointer;
}
/* about圖片 */
#about img{
  width:150px;
}

.w3-col > h5 {
  margin: 20px 0px 0px 0px;
}

/* about文字不換行 */
/* .w3-content > h6 { */
/* display: inline; */
/* } */




/* 照片集 */


/* 下面是gallery需要的css */

.gallery {
  position: relative;
  background-color: #f8f6f2;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16), 0px 2px 10px rgba(0, 0, 0, 0.12);
  padding: 5px;
  max-width:700px;
  margin:auto;
}

.item {
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  width: 220px;
  height: 160px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}

.item:hover {
  transform: translateY(-5%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.item > img {
  position: absolute;
  transition-duration: 0.5s;
  width: 120%;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-55%);
}

.item:hover > img {
  width: 100%;
}

.item > div {
  position: absolute;
  background-color: #616161;
  transition-duration: 0.3s;
  color: #fff;
  width: 100%;
  text-align: center;
  bottom: 0%;
  font-size: 20px;
  font-family: "微軟正黑體";
  font-weight: 250;
  padding: 5px 0px;
}

.item:hover > div {
  background-color: #616161;
}

#full {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: #000c;
}

#full > img {
  position: absolute;;
  max-height: 100%;
  max-width: 100%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}

#full > div {
  position: absolute;
  background-color: #000b;
  color: #fff;
  transform: translateX(-50%) translateY(-50%);
  top: 15vh;
  left: 50%;
  padding: 15px 40px;
  font-family: "微軟正黑體";
  font-weight: 200;
  font-size: 4vh;
  opacity: 0;
  animation: dissappear 4s;
  white-space: nowrap;
  cursor: default;
  -webkit-user-select: none;
}

@keyframes dissappear {
  5% {opacity: 0;}
  35% {opacity: 1;}
  70% {opacity: 1;}
  100% {opacity: 0;}
}
